[alias]
aa = add .
ba = branch -a
c = checkout
cb = checkout -b
cm = commit -m
cam = commit --amend
st = status
f = fetch
r = rebase
lo = log --oneline
po = push origin HEAD
pf = push -f origin HEAD

[user]
#    name = yytyd
#	email = toyoda_yuki@cyberagent.co.jp
    name = yuk1ty
    email = yuki.mul.tiplus@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
