#!/bin/bash

# macOS settings that nix-darwin cannot manage.
# Other macOS settings are managed by nix-darwin system.defaults:
# ~/.local/share/chezmoi/nix/darwin/default.nix

{{ if eq .chezmoi.os "darwin" }}
# don't make .DS_Store files on network shares
defaults write com.apple.desktopservices DSDontWriteNetworkStores -bool true

# setup google's DNS
networksetup -setdnsservers Wi-Fi 2001:4860:4860::8844 2001:4860:4860::8888 8.8.4.4 8.8.8.8
{{ end }}
