#!/bin/bash

# Install Rust
if ! type rustup > /dev/null 2>&1; then
  curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
fi

# Install tools managed by homebrew
{{ if eq .chezmoi.os "darwin" }}
if ! type xcode-select > /dev/null 2>&1; then
  xcode-select --install
fi
brew bundle --global
{{ end }}

# Install mise dependencies
if type mise > /dev/null 2>&1; then
  mise install
fi

# Install `gh` plugins
if type gh > /dev/null 2>&1; then
  gh extension install dlvhdr/gh-dash
  gh extension meiji163/gh-notify
fi

exit 0
