git:
  pagers:
    - pager: delta --dark --paging=never
gui:
  language: "en"
  showIcons: true
customCommands:
  - key: "U"
    context: "global"
    description: "Run fetch and rebase to get the latest data of repository"
    command: 'git update "{{index .PromptResponses 0}}" "{{index .PromptResponses 1}}" '
    prompts:
      - type: "input"
        title: "remote"
        initialValue: "origin"
      - type: "input"
        title: "branch"
        initialValue: "main"
  - key: "C"
    context: "localBranches"
    description: "Checkout a branch with Pull Requests' number"
    prompts:
      - type: "input"
        title: "Pull Request Number"
        key: "PrNum"
    command: "gh pr checkout {{.Form.PrNum}}"
    loadingText: "Checking out specified branch to local"
